.header {
    position: fixed;
    width: 100%;
    background: var(--body-color);
    top: 0;
    left: 0;
    padding: 0.5rem 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__toggle {
        font-size: 1.5rem;
        cursor: pointer;
    }

    &__menu {
        @media screen and (max-width: 767px) {
            position: fixed;
            top: -100%;
            right: 0;
            left: 0;
            background: var(--container-color);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
            width: 90%;
            margin: 0 auto;
            border-radius: 2rem;
            padding: 1.5rem 0;
            transition: 0.4s;
        }
    }

    &__list {
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
    }

    &__logo, 
    &__toggle,
    &__link {
        color: var(--title-color);
    }
}

.active-link {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: -0.75rem;
        left: 45%;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: var(--title-color);
    }
}

.show-menu {
    top: 4.5rem;
}

.scroll-header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}